* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grafite: #25282A;
    --white: #fff;
    --cereja: #C21233;
    --black: #000;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--grafite);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    position: relative;
}

header .header-logo {
    width: 150px;
}

header .header-logo img {
    width: 100%;
}

header #menuDesk-ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    position: relative;
}

header #menuDesk-ul li a {
    color: var(--white);
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}

header #menuDesk-ul li a:hover {
    color: #b9b9b9;
}

header .account {
    border: 1px solid var(--white);
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--black);
}

header .account p {
    font-size: .9em;
}

header .account p span {
    font-size: .7em;
    text-transform: uppercase;
}

header .account {
    position: relative;
}

header .account span img {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: rotate(90deg);
    cursor: pointer;
}

#inventario-sub-menu {
    position: absolute;
    top: 50px;
    left: -20px;
    list-style: none;
    background-color: var(--grafite);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;

}

#inventario-sub-menu li a {
    padding: 20px;
}

#seta-icon {
    transform: rotate(90deg);
    cursor: pointer;
}

#submenu {
    position: absolute;
    background-color: var(--grafite);
    top: 55px;
    left: -30px;
    padding: 20px;
    border-radius: 20px;
    /* display: block; */
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

#submenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#submenu a {
    color: var(--white);
    display: flex;
    text-decoration: none;
}

#submenu a:hover {
    color: #b9b9b9;
}

#menuMobile {
    min-height: 100vh;
    background-color: var(--grafite);
    width: 250px;
    left: calc(100% - 250px);
    top: 0;
    position: absolute;
    z-index: 1;
    display: none;
}

#menuMobile ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    list-style: none;
    padding-top: 70px;
}

#menuMobile ul a {
    color: var(--white);
    text-decoration: none;

}

#menuMobile ul a:hover {
    color: #b9b9b9;
}

/*icone do menu mobile oculto enquanto para desktop */
#showMenu {
    display: none;
}

#icon-close {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 747px) {
    header #menuDesk-ul {
        display: none;
    }

    .account {
        display: none;
    }

    #showMenu {
        display: block;
        cursor: pointer;
    }

    main {
        padding-block: 20px;
    }

    main:after {
        content: " ";
        width: 100px;
        height: .5px;
        background-color: var(--white);
    }

}

/* fim do header */

main {
    background-color: var(--white);
    max-width: 70%;
    min-height: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    display: flex;
    flex-basis: 50%;
}

/* main .inventario-didatico {
    background-color: green;
    flex-grow: 1;
    max-width: 50%;
    height: 50%;
}

main .inventario-mobilia {
    background-color: yellow;
    flex-grow: 1;
    max-width: 50%;
    height: 50%;
} */

main .inventario-didatico,
main .inventario-mobilia {
    background-color: green;
    /* Ou a cor desejada */
    flex-grow: 1;

}